<style>
body{
	font-family:Verdana,"Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W6",Osaka,"ＭＳ Ｐゴシック",Arial,sans-serif;
	padding: 0;
	margin: 0;
}
.clWrap{
	width:800px;
	margin:0 auto;
	text-align:center;
}
h1{
	font-size:18px;
	line-height:1.4em;
	text-align:center;
	font-weight:normal;
}
</style>